---
import Layout from '~/layouts/Layout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Footer from '~/components/widgets/Footer.astro';
import { footerData } from '~/navigation';
import { getHomePermalink } from '~/utils/permalinks';
import Logo from '~/components/Logo.astro';

const metadata = {
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div>
    <a class="flex items-center" href={getHomePermalink()}>
      <Logo />
    </a>
  </div>
  <Hero2
    tagline="We are a team of experts in the space industry."
    content="Trusted space industry consulting. Subject matter expertise. Mission planning. Risk assessment."
    image={{
      src: 'https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&h=600&q=80',
      alt: 'Antenna dish in the desert at sunset',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent highlight dark:text-white">Our Mission: </span> Solve the most challenging space problems.
    </Fragment>
  </Hero2>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
