---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '~/assets/logo/k2-logo.svg';
---

<style>
  img {
    width: 6em;
    float: left;
    top: 0em;
    margin-right: 0.2em;
    position: relative;
  }
</style>
<span
  class="ml-2 self-center text-2xl font-bold whitespace-nowrap text-gray-900 md:text-xl rtl:mr-2 rtl:ml-0 dark:text-white"
>
  <Image src={logo} alt={`${SITE.name} logo`} loading="eager" />
</span>
